




.icon{
    height:24px; 
    width:24px; 
    display:inline-block; 
    position:relative;
    border:1px solid rgba(0, 0, 0, 0.3);
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
} 


.icon:before, .icon:after{
    background:#fff; 
}    
.icon:hover, .icon:hover:before, .icon:hover:after{
    border-color: #ffffff; 
}


.big{
    position:relative;
}

svg{
    position:relative;
    background: transparent;
    
}

.footer svg {
    width: 18px;
    height: 18px;
    size: contain;
}

.small svg{
    width: 28px;
    height: 28px;
    size: contain;
}

.between svg{
    width: 32px;
    height: 32px;
    size: contain;
}


.medium svg{
    width: 48px;
    height: 48px;
    size: contain;
}

.bigger svg{
    width: 88px;
    height: 88px;
    size: contain;
}


.big svg{
    width: 128px;
    height: 128px;
    size: contain;
}

.separator svg {
    width: 15px;
    height: 118px;
    size: contain;
}

svg  .svg-icon{
    fill:none; 
    stroke:rgb(0, 0, 0); 
    stroke-width: 4; 
    stroke-linecap:round;
    stroke-linejoin:round;
}

.dark svg  .svg-icon{
    stroke:rgba(0, 30, 60, 1); 
}

svg  circle.svg-icon{
    stroke-width: 4; 
}

svg:hover{
        
}


svg:hover *{
    fill:rgba(83, 83, 83, 0.15); 
    stroke:rgba(121, 121, 121, 1); 
}

svg path.star {
    stroke-width:4;
    stroke-linecap:square;
    stroke-linejoin:miter

}

